/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.extra-space {
    flex: 1 1 0%;
}
.w-100 {
    width: 100%;
}
.hide-underline .mat-form-field-underline{
  height: 0px !important;
}
.space-btw {
    justify-content: space-between;
}

.btn-color{
    background-color: orange;
  }

  .mtb-10 {
      margin: 10px 0px;
  }